/******** DESKTOPS ********/

/*****************************************/
/* DESKTOP 1760PX */

@media (max-width: 110em) {
  .section-header {
    padding: 1.6rem 4rem;
  }

  .section-hero {
    padding: 10rem 4rem;
  }

  .section-main--first {
    padding: 14rem 4rem;
  }

  .section-main--second {
    padding: 14rem 4rem;
  }

  .main-second {
    gap: 10rem;
  }

  .section-main--third {
    padding: 14rem 4rem;
  }

  .section-pricing {
    padding: 14rem 4rem;
  }

  .section-work {
    padding: 14rem 6rem;
  }

  .section-sponsors {
    padding: 14rem 4rem;
  }

  .companys {
    gap: 15rem;
  }

  .section-testimonials {
    padding: 14rem 4rem;
  }

  .section-footer {
    padding: 14rem 4rem;
    padding-bottom: 4rem;
  }
}
/*****************************************/

/*****************************************/
/* DESKTOP 1440PX */

@media (max-width: 90em) {
  .section-header {
    padding: 1.6rem 3.2rem;
  }

  .section-hero {
    padding: 10rem 3.2rem;
  }

  .section-main--first {
    padding: 14rem 3.2rem;
  }

  .section-main--second {
    padding: 14rem 3.2rem;
  }

  .main-second {
    gap: 10rem;
  }

  .section-main--third {
    padding: 14rem 3.2rem;
  }

  .section-pricing {
    padding: 14rem 3.2rem;
  }

  .section-work {
    padding: 14rem 5rem;
  }

  .section-sponsors {
    padding: 14rem 3.2rem;
  }

  .companys {
    gap: 13rem;
  }

  .section-testimonials {
    padding: 14rem 3.2rem;
  }

  .section-footer {
    padding: 14rem 3.2rem;
    padding-bottom: 3.2rem;
  }

  .part-one {
    padding: 0 40rem;
  }
}

/*****************************************/

/*****************************************/
/* DESKTOP 1328PX */

@media (max-width: 83em) {
  .section-header {
    padding: 1.6rem 2.2rem;
  }

  .nav-right {
    gap: 2rem;
  }

  .section-hero {
    padding: 10rem 2.2rem;
  }

  .section-main--first {
    padding: 14rem 2.2rem;
  }

  .section-main--second {
    padding: 14rem 2.2rem;
  }

  .main-second {
    gap: 10rem;
  }

  .section-main--third {
    padding: 14rem 2.2rem;
  }

  .section-pricing {
    padding: 14rem 2.2rem;
  }

  .section-work {
    padding: 14rem 5rem;
  }

  .section-sponsors {
    padding: 14rem 3.2rem;
  }

  .companys {
    gap: 9rem;
  }

  .section-testimonials {
    padding: 14rem 2.2rem;
  }

  .section-footer {
    padding: 14rem 2.2rem;
    padding-bottom: 2.2rem;
  }

  .part-one {
    padding: 0 38rem;
  }

  .smaller-button {
    padding: 1.6rem 3rem;
  }
}
/*****************************************/

/*****************************************/
/* DESKTOP 1168PX */

@media (max-width: 75em) {
  html {
    font-size: 50%;
  }

  .section-header {
    padding: 1.6rem 3.2rem;
  }

  .navigators {
    display: none;
  }

  .menu-icon--icons {
    display: inline-block;
  }

  .section-hero {
    padding: 10rem 3.2rem;
  }

  .section-main--first {
    padding: 14rem 3.2rem;
  }

  .section-main--second {
    padding: 14rem 3.2rem;
  }

  .main-second {
    gap: 10rem;
  }

  .section-main--third {
    padding: 14rem 3.2rem;
  }

  .section-pricing {
    padding: 14rem 3.2rem;
  }

  .section-work {
    padding: 12rem 7rem;
  }

  .work {
    width: 55%;
    align-items: flex-start;
    gap: 5rem;
  }

  .not-aligned {
    text-align: start;
  }

  .work-text {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .section-sponsors {
    padding: 14rem 2.2rem;
  }

  .companys {
    gap: 6rem;
  }

  .section-testimonials {
    padding: 14rem 3.2rem;
  }

  .section-footer {
    padding: 14rem 3.2rem;
    padding-bottom: 3.2rem;
  }

  .part-one {
    padding: 0 35rem;
  }

  .smaller-button {
    padding: 1.6rem 3rem;
  }

  .part-two--header {
    gap: 9rem;
  }
}
/*****************************************/

/******** TABLETS ********/

/*****************************************/
/* TABLET 1040PX */

@media (max-width: 65em) {
  html {
    font-size: 49%;
  }
  .companys img {
    max-width: 25%;
  }

  .testimonial-container {
    padding: 5rem 3rem;
  }

  .section-pricing {
    padding-top: 0rem;
  }
  .part-one {
    padding: 0 32rem;
  }
  .work {
    width: 60%;
  }
  .smaller-button {
    padding: 1.6rem 1.6rem;
  }

  .small-margin--left {
    margin-left: 0.4rem;
  }

  .part-two--header {
    gap: 8rem;
  }
}
/*****************************************/

/*****************************************/
/* TABLET 880PX */

@media (max-width: 55em) {
  html {
    font-size: 46%;
  }

  .companys img {
    max-width: 22%;
  }
  .main-two {
    flex-wrap: wrap-reverse;
  }
  .section-sponsors {
    padding: 14rem 2.2rem;
    padding-top: 8rem;
  }

  .testimonial-container {
    padding: 4rem 2rem;
  }

  .part-two--header {
    gap: 6rem;
  }

  .section-sponsors {
    padding-top: 0rem;
    padding-bottom: 8rem;
  }

  .flex-sponsers {
    gap: 6rem;
  }
}

/*****************************************/

/* 791PX TAK KA RESPONSIVE DONE */

/*****************************************/

/* TABLETS 800PX */
@media (max-width: 50em) {
  /* HEADER AND HERO SECTION */
  .section-hero {
    padding: 18rem 8rem;
  }
  .hero {
    flex-direction: column;
  }

  .hero-left {
    align-items: center;
  }

  .hero-right {
    max-width: 80%;
  }

  .hero-title,
  .hero-desc {
    text-align: center;
  }

  .login-button,
  .try-button {
    display: none;
  }

  .menu-icon--icons {
    height: 6rem;
    width: 6rem;
  }

  /* ALL MAINS */

  .reusable-h2 {
    text-align: center;
  }

  .reusable-p {
    text-align: center;
  }

  .main-one--left {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .main-one {
    flex-direction: column;
  }

  .main-one--right {
    width: 60%;
  }

  .hero-button {
    align-items: center;
  }

  .main-two {
    flex-direction: column-reverse;
  }

  .main-two--right {
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .main-second {
    flex-direction: column;
  }

  .main-second--left {
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .main-two--left {
    width: 60%;
  }

  .main-second--right {
    width: 70%;
  }

  .main-third {
    flex-direction: column;
  }

  .main-third--left {
    width: 60%;
  }

  .section-pricing {
    padding-top: 0rem;
  }

  .section-sponsors {
    padding-top: 0rem;
  }

  .main-third--right {
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  /* PRICING SECTION */

  .section-pricing {
    padding: 10rem 0rem;
  }

  .pricing {
    overflow: hidden;
  }

  .cards {
    width: 145%;
  }

  /* NEXT SECTIONS */

  .work {
    width: 90%;
  }

  .not-aligned {
    text-align: start;
  }

  .not-aligned--p {
    text-align: start;
  }

  .flex-reversed {
    flex-direction: column-reverse;
  }

  .companys {
    flex-direction: column;
    gap: 10rem;
  }

  .companys img {
    max-width: 100%;
  }

  /* TESTIMONIALS */
  .section-testimonials {
    overflow: hidden;
  }

  .flex--testimonals {
    width: 150%;
  }

  /* FOOTER */

  .part-one {
    padding-left: 0;
    align-items: flex-start;
    padding-right: 0rem;
  }

  .footer-button {
    justify-content: flex-start;
  }

  .part-two--header {
    flex-direction: column;
    width: 40%;
  }

  .footer-logo {
    width: 100%;
  }

  .part-two--header---parts {
    align-items: flex-start;
    gap: 2.5rem;
  }
  .part-two--footer {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  .part-two--footer---left {
    gap: 10rem;
  }
  .section-pricing {
    padding-top: 0rem;
  }
  .part-two {
    gap: 9rem;
  }

  .flex-sponsers {
    gap: 5rem;
  }
}
/*****************************************/

/*****************************************/
/*  656PX*/

@media (max-width: 41em) {
  html {
    font-size: 45%;
  }
  .part-two--footer---left {
    gap: 5rem;
  }

  .cards {
    width: 250%;
  }

  .flex--testimonals {
    width: 200%;
  }

  .section-pricing {
    padding-top: 0rem;
  }

  .flex-sponsers {
    gap: 5rem;
  }
}
/*****************************************/

/* MOBILES */

/*****************************************/
/* 496PX */

@media (max-width: 31em) {
  html {
    font-size: 43%;
  }
  .section-header {
    padding: 1.6rem 3.2rem;
  }

  .section-hero {
    padding: 9rem 3.2rem;
  }

  .section-main--first {
    padding: 12rem 3.2rem;
  }

  .section-main--second {
    padding: 12rem 3.2rem;
  }

  .main-second {
    gap: 10rem;
  }

  .section-main--third {
    padding: 12rem 3.2rem;
  }

  .section-pricing {
    padding: 12rem 3.2rem;
    padding-top: 0rem;
  }

  .section-work {
    padding: 12rem 4rem;
  }

  .work {
    width: 100%;
  }

  .section-sponsors {
    padding: 10rem 3.2rem;
    padding-top: 0rem;
  }

  .companys {
    gap: 13rem;
  }

  .section-testimonials {
    padding: 10rem 3.2rem;
  }

  .section-footer {
    padding: 10rem 3.2rem;
    padding-bottom: 3.2rem;
  }

  .companys img {
    max-width: 60%;
  }

  .part-two--header---parts {
    align-items: center;
    justify-content: center;
  }
  .footer-logo {
    width: 50%;
  }

  .part-two--header {
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .part-two--header---parts p {
    text-align: center;
  }

  .footer-part--two---links {
    align-items: center;
    justify-content: center;
  }

  .footer {
    gap: 15rem;
  }

  .part-two--footer {
    align-items: center;
  }

  .part-two--footer---left {
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex--testimonals {
    width: 300%;
  }

  .part-two {
    align-items: center;
  }

  .part-one--imgs img {
    max-width: 20%;
  }

  .reusable-h2 {
    font-size: 6.4rem;
  }
}

/*****************************************/

/*****************************************/
/* 400Px */

@media (max-width: 25em) {
  html {
    font-size: 42%;
  }
  .section-header {
    padding: 1.6rem 3.2rem;
  }

  .section-hero {
    padding: 8rem 3.2rem;
  }

  .section-main--first {
    padding: 10rem 3.2rem;
  }

  .section-main--second {
    padding: 10rem 3.2rem;
  }

  .main-second {
    gap: 10rem;
  }

  .section-main--third {
    padding: 10rem 3.2rem;
  }

  .section-pricing {
    padding: 10rem 3.2rem;
    padding-top: 0rem;
  }

  .section-work {
    padding: 10rem 4rem;
  }

  .work {
    width: 100%;
  }

  .section-sponsors {
    padding: 10rem 3.2rem;
    padding-top: 0rem;
  }

  .companys {
    gap: 13rem;
  }

  .section-testimonials {
    padding: 10rem 3.2rem;
  }

  .section-footer {
    padding: 10rem 3.2rem;
    padding-bottom: 3.2rem;
  }

  .companys img {
    max-width: 50%;
  }

  .part-two--header---parts {
    align-items: center;
    justify-content: center;
  }
  .footer-logo {
    width: 50%;
  }

  .part-two--header {
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .part-two--header---parts p {
    text-align: center;
  }

  .footer-part--two---links {
    align-items: center;
    justify-content: center;
  }
  .part-two--footer {
    align-items: center;
  }

  .part-two--footer---left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex--testimonals {
    width: 300%;
  }

  .part-two {
    align-items: center;
  }

  .part-one--imgs img {
    max-width: 20%;
  }

  .reusable-h2 {
    font-size: 6.4rem;
  }
}
/*****************************************/

/*****************************************/
/* 288PX */

@media (max-width: 18em) {
  html {
    font-size: 38%;
  }

  .whitespace-logo {
    max-width: 80%;
  }

  .section-work {
    padding: 10rem 2rem;
  }

  .flex--testimonals {
    width: 325%;
  }
}
/*****************************************/
