/* -FONT SIZE SYSTEM (px) 
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - SPACING SYSTEM (px) 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}
/*****************************************/
/* REUSABLE CSS */

/* BUTTON */
.hero-button {
  font-size: 1.8rem;
  background-color: #4f9cf9;
  color: #fff;
  text-decoration: none;
  padding: 1.6rem 4rem;
  border-radius: 8px;
  /* FIRST APPROACH */
  display: inline-block;
  /* FIRST APPROACH ENDED */

  /* SECOND APPROACH */
  /* display: flex;
  align-items: center;
  gap: 1rem;
  width: 35%; */
  /* SECOND APPROACH ENDED */
}

.hero-icon {
  width: 1.2rem;
  height: 1.2rem;
  stroke: white;
  margin-left: 1rem;
}
/* BUTTON ENDED */

/* FONTS */
.reusable-h2 {
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 8.7rem;
  color: #212529;
  margin-bottom: 2.4rem;
}

.reusable-p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  color: #212529;
}

.bigger-p {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
  color: #212529;
}

.color-white {
  color: white;
}

.no-color {
  background-color: #fff;
}

.text-align {
  text-align: center;
}
/*****************************************/

/*****************************************/
/* HEADER */
.section-header {
  background-color: #043873;
  padding: 1.6rem 22rem;
}

.navigator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .logo {
  width: 10%;
}
.whitespace-logo {
  width: 100%;
} */
.nav-right {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.nav-btn {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.navigators {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.products {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product {
  font-size: 1.8rem;
  color: white;
}

.nav-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: white;
  padding: 0.4rem;
}

.login-button {
  font-size: 1.8rem;
  background-color: #ffe492;
  color: #043873;
  text-decoration: none;
  padding: 1.6rem 4rem;
  border-radius: 8px;
  font-weight: 600;
}

.try-button {
  font-size: 1.8rem;
  background-color: #4f9cf9;
  color: #fff;
  text-decoration: none;
  padding: 1.6rem 4rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.try-icon {
  width: 1.2rem;
  height: 1.2rem;
  stroke: white;
}

.menu-icon--icons {
  height: 4rem;
  width: 4rem;
  color: #fff;
  display: none;
}
/*****************************************/

/*****************************************/
/* HERO */

.section-hero {
  background-color: #043873;
  padding: 14rem 22rem;
}
.hero {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.hero-img {
  max-width: 100%;
}

.hero-title {
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7rem;
  letter-spacing: -2%;
  color: #fff;
  margin-bottom: 2.4rem;
}

.hero-desc {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 1px;
}

.hero-button {
  font-size: 1.8rem;
  background-color: #4f9cf9;
  color: #fff;
  text-decoration: none;
  padding: 1.6rem 4rem;
  border-radius: 8px;
  /* FIRST APPROACH */
  display: inline-block;
  /* FIRST APPROACH ENDED */

  /* SECOND APPROACH */
  /* display: flex;
  align-items: center;
  gap: 1rem;
  width: 35%; */
  /* SECOND APPROACH ENDED */
}

/* .hero-btn svg {
  margin-left: 1rem;
} */

.hero-icon {
  width: 1.2rem;
  height: 1.2rem;
  stroke: white;
  margin-left: 1rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

/*****************************************/

/*****************************************/
/* MAIN */

.section-main--first {
  padding: 14rem 22rem;
}

.main-first {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.main-one {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.main-one--img {
  max-width: 100%;
}

.main-one--left {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 45%;
}

.main-one--right {
  width: 45%;
}

.main-two {
  display: flex;
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap-reverse;
}

.main-two--left {
  width: 45%;
}

.main-two--img {
  max-width: 100%;
}

.main-two--right {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 45%;
}

.section-main--second {
  padding: 14rem 20rem;
  background-color: #043873;
}
.main-second {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.main-second--img {
  max-width: 100%;
}

.main-second--left {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 45%;
}

.main-second--right {
  width: 45%;
}

.section-main--third {
  padding: 14rem 22rem;
}
.main-third {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.main-third--img {
  max-width: 100%;
}

.main-third--left {
  width: 45%;
}

.main-third--right {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 45%;
}

/*****************************************/

/*****************************************/
/* PRICING */

.section-pricing {
  padding: 14rem 22rem;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.pricing-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

.text-align {
  text-align: center;
}

.pricing-desc {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
  color: #212529;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.free-text {
  font-size: 2.4rem;
  font-weight: 600;
  color: #212529;
}

.price {
  font-size: 3.6rem;
  font-weight: 700;
  color: #212529;
}

.card-desc {
  font-size: 1.8rem;
  font-weight: 500;
  color: #212529;
}

.featuring {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.feature-icon {
  height: 1.8rem;
  width: 1.8rem;
  stroke: #212529;
}

.features-desc {
  font-size: 1.2rem;
  font-weight: 600;
  color: #212529;
  line-height: 2rem;
}

.feature ul {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.card-one {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 4.4rem;
  border: 1px solid #ffe492;
  border-radius: 10px;
}

.special-card {
  padding: 7rem 4.4rem;
  background-color: #043873;
  color: #fff;
  border: none;
}

.special-card p {
  color: #fff;
}

.special-card--header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.special-card li {
  font-size: 1.8rem;
}

.special-card .feature-icon {
  width: 2.2rem;
  height: 2.2rem;
  stroke: #ffe492;
}

.special-card .free-text {
  font-size: 3rem;
}
.special-card .price {
  font-size: 4rem;
  color: #ffe492;
}

.special-card .card-desc {
  font-size: 2rem;
}

.special-card .features-desc {
  font-size: 1.6rem;
  font-weight: 600;
}

.button-white {
  background-color: #fff;
  color: #212529;
  border: 1px solid #ffe492;
}

/*****************************************/
/* SECTION WORK */

.section-work {
  padding: 14rem 22rem;
  background-color: #043873;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}
/*****************************************/

/*****************************************/
/* SECTION DATA */

/* SECTION MAIN-SECOND KO HI PURA REUSE KIYA HU */
.no-color {
  background-color: #fff;
}
/*****************************************/

/*****************************************/
/* SPONSORS */

.section-sponsors {
  padding: 10rem 15rem;
}

.flex-sponsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.companys {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20rem;
}

.apple-img {
  max-width: 100%;
}

.microsoft-img {
  max-width: 100%;
}

.slack-img {
  max-width: 100%;
}

.google-img {
  max-width: 100%;
}

/*****************************************/

/*****************************************/
/* SECTION APP */

/* SECTION-MAIN--THIRD KO HI PURA REUSE KIYA HU */

.color-blue {
  background-color: #043873;
}

.width--46 {
  width: 46%;
}

.width--44 {
  width: 44%;
}
/*****************************************/
/* TESTIMONIALS */

.section-testimonials {
  padding: 14rem 22rem;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  /* justify-content: center; */
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 6rem 4rem;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.testi-header {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  border-bottom: 1px solid #212529;
}

.quote-img {
  max-width: 20%;
}

/* .customer-imgs {
  width: 100%;
} */

.testi-footer {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.testi-footer--name {
  font-size: 2.4rem;
  font-weight: 600;
}

.testi-footer--desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 20px;
}

.testi-footer--text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.flex--testimonals {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.testi-blue {
  background-color: #4f9cf9;
}

.border-white {
  border: none;
  border-bottom: 1px solid white;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.non-highlate--btn {
  background-color: #4f9cf9;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100px;
  border: none;
}

.highlate--btn {
  background-color: #043873;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100px;
  border: none;
}
/*****************************************/
/*****************************************/
/* FOOTER */

.section-footer {
  padding: 14rem 22rem;
  padding-bottom: 3.2rem;
  background-color: #043873;
}

.footer-apple-img {
  max-width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 18rem;
}

.part-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 0 45rem;
}

.part-one--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.part-one--footer---heading {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.part-one--imgs {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.part-two {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  /* align-items: center;
  justify-content: center; */
}

.part-two--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.part-two--header---parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  justify-content: center;
}

.part-two--header {
  display: flex;
  gap: 10rem;
  align-items: flex-start;
}

.footer-part--two---title {
  font-size: 1.8rem;
  font-weight: 700;
}

.footer-part--two---links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-part--two---links a {
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
  /* text-align: center; */
}

.footer-part--two---links a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tryittoday-text {
  font-size: 2.8rem;
  font-weight: 700;
  color: white;
}

.footer-icon {
  width: 2rem;
  height: 2rem;
  stroke: white;
  color: white;
}

.part-two--footer---left-parts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.part-two--footer---left {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.part-two--footer---right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/*****************************************/
/* STYLE.CSS DONE */
